<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>Details</title>
    <link rel="stylesheet"
          type="text/css"
          href="../static/ad_detail_style.css"/>

</head>
<body>
<div> <!-- TODO multiple pics -->
    <img class="image" src='../advertisement/media/2ghoori.jpg' alt="ad image"/>
</div>
<table>
    <tr>
        <td colspan="2">
            <div class="name">Ad Name</div>
        </td>
    </tr>
    <tr>
        <td class="details-td">
            <div class="label">Call</div>
            :
            <div class="call">+91 1234 567 890</div>
            <br>
            <div class="label">Email</div>
            :
            <div class="email">user@domain.com</div>
            <br>
            <div class="label">City</div>
            :
            <div class="city">Tehran</div>
            <br>
            <div class="label">Price</div>
            :
            <div class="price">99$</div>
            <br>
            <div class="label">Advertiser</div>
            :
            <div class="advertiser">Shabnam</div>
        </td>
        <td class="description-td">
            <div class="description" spellcheck="false">Description</div>
        </td>
    </tr>
</table>

</body>
</html>