<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

    <title>Fox Advertisements</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
<div class="grid">
    <div class="row"></div>
    <div class="row">
        <div class="col-xs-10 col-md-10 col-lg-10 col-sm-10 offset-xs-1 offset-md-1 offset-lg-1 offset-sm-1 the-box">
            <div class="well bs-component">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Search among thousands of advertisements!</legend>
                        {% for field in form %}
                            <div class="form-group" style="color: #ff0026; display: flex; align-items: center;">
                                {{ field.errors }}
                            </div>
                            <div class="form-group" style="display: flex; align-items: center;">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3 control-label">{{ field.label_tag }}</div>
                                <div class="col-xs-10 col-sm-9 col-md-8 col-lg-8">{{ field }}</div>
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="form-group" style="display: flex; align-items: center;">
                            <button type="submit" value="continue" onclick="location.href='{% url 'search' %}'"
                                    class="btn btn-default">Search
                            </button>
                        </div>
                    </fieldset>
                </form>
                <a href="{% url 'search' %}" style="color: #850022">Basic Search</a>
            </div>
        </div>
        <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3 offset-xs-1 offset-md-1 offset-lg-1 offset-sm-1 the-box list-group table-of-contents"
             style="margin-top: 30px">
            {% for cat in categories %}
                <div style="color:black; word-break: break-word" class="list-group-item" onclick="location.href='{% url 'search' %}?category={{ cat.title }}'">
                    {{ cat.title }}
                </div>
            {% endfor %}
        </div>
        <div class="col-xs-8 col-md-7 col-lg-7 col-sm-7 the-box
                list-group table-of-contents" style="margin-top: 30px; margin-left: 10px">
            {% for ad in ads %}
                <div style="color:black" class="list-group-item"
                     onclick="location.href='{% url 'advertisement_detail' ad.id %}'">
                    <div style="display: flex; justify-content: space-between">
                        <div style="float: left; flex-grow: 1" class="search-res">
                            <img style="width: 80px; height: 80px" alt="ad-image" src='/media/{{ ad.profile_image }}'/>
                            <h2>{{ ad.title }}</h2>
                            <h6>advertiser: {{ ad.advertiser }}</h6>
                            <h6>area: {{ ad.area }}</h6>
                            <br>
                        </div>
                        <p style="float: right; margin: auto 10px; font-size: 25px; font-weight: bold">{{ ad.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>