<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

    <title>Register</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>

<div class="header" id="myHeader">
    <div class="head">Fox Advertisement</div>
    <div class="title">
        <div class="dropdown">
            {% if request.user.is_authenticated %}
                <a class="avat">Hello {{ request.user.username }}!</a>
                <div class="dropdown-content">
                    <a href="javascript:void(0);" data-title="Profile">My Profile</a>
                    <a href="javascript:void(0);" data-title="Favorites">Saved Ads</a>
                    <a href="http://127.0.0.1:8000/advertisement/add_advertisement" data-title="Submit">Submit Ads.</a>
                    <a href="http://127.0.0.1:8000/advertisement/search" data-title="Search">Search Ads.</a>
                    <a href="javascript:void(0);" data-title="Timeline">Timeline</a>
                    <a href="javascript:void(0);" data-title="Settings">Settings</a>
                    <a href="{% url 'logout' %}" data-title="Logout">Logout</a>
                </div>
            {% else %}
                <a class="avat">Hello Guest!</a>
                <div class="dropdown-content">
                    <a href="http://127.0.0.1:8000/">Login Or Register</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="grid">
    <div class="row"></div>
    <div class="row">
        <div class="col-xs-10 col-md-8 col-lg-8 col-sm-8 offset-xs-1 offset-md-2 offset-lg-2 offset-sm-2 the-box">
            <div class="well bs-component">
                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Fill in your information!</legend>
                        {% for field in form %}
                            <div class="form-group" style="color: #ff0026; display: flex; align-items: center;">
                                {{ field.errors }}
                            </div>
                            <div class="form-group" style="display: flex; align-items: center;">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3 control-label">{{ field.label_tag }}</div>
                                <div class="col-xs-10 col-sm-9 col-md-8 col-lg-8">{{ field }}</div>
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <br/>
                        <button type="submit" value="continue"
                                class="btn btn-default offset-xs-5 offset-sm-5 offset-md-5 offset-lg-5">Register
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    window.onscroll = function () {
        myFunction()
    };

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>
</body>
</html>